.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}


.format-table {
  border-collapse: collapse;
  font-size: 0.9em;    
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x:auto;
}

.format-table thead tr {
  background-color: #808584;
  color: #ffffff;
  text-align: left;
}

.format-table th,
.format-table td {
  padding: 12px 15px;
 
}

.format-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table {
margin-left: auto;
margin-right: auto;
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 0.9em;
  font-weight: bold;
  font-family: sans-serif;
  padding: 12px 15px;
  margin: 8px 0;
  cursor: pointer;
}

h2 {
  font-family: sans-serif;
}

input[type=text] {
  width: 400px;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

div {
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
}